<div class="flex justify-between mt-4 mb-2 md:mt-8 md:mb-4">
  <h1 class="PageHeadline">Your recipes</h1>
  <%= link_to 'Add new', new_recipe_path, class: 'Button mb-4' %>
</div>
<% if @recipes.present? %>
  <% @recipes.each do |recipe| %>
    <div class="mb-4">
      <h2 class="SecondaryHeadline text-teal-500">
        <%= link_to recipe.name, recipe_path(recipe) %>
      </h2>
      <p class="text-gray-600"><%= recipe.description %></p>
      <small><%= recipe.created_at.strftime("%d %b, %Y at %H:%M") %></small>
    </div>
  <% end %>
<% else %>
  <p>No recipes yet</p>
<% end %>
