<div class="max-w-xl rounded overflow-hidden shadow-lg rounded-md bg-white sm:mt-8 md:mt-16 mx-auto p-4 mb-16">
  <h1 class="text-xl font-extrabold mb-4">New Recipe</h1>
  <%= render 'form', recipe: @recipe %>
</div>
