// Named colors, do not use in stylesheets
$_purple: #610EEA;
$_purple_dark: #280A58;
$_pink: #EF68C9;

// Purposeful names, use these in stylesheets
$main-color: $_purple;
$text-color: $_purple_dark;