<div class="max-w-md rounded overflow-hidden border border-solid border-gray-100 floating-shadow rounded-md bg-white mt-16 mx-auto p-8 mb-16">
  <h1 class="text-2xl font-extrabold mb-4"><%= title %></h1>
  <%= yield %>
</div>