<% if !current_user %>
  Register or login please
<% end %>

<% if current_user&.recipes&.none? && current_user&.meal_plans&.none? %>
  <div class="flex flex-col items-center mt-16">
    <%= image_tag 'empty.svg', class: "w-64 mb-8" %>
    <h3 class="text-2xl font-bold">Not a lot to see here...</h3>
    <p class="mb-4">Why don't you start by adding a few recipes?</p>
    <%= link_to 'Create new recipe', new_recipe_path, class: "Button" %>
  </div>
<% end %>

<% if current_user&.recipes&.any? && current_user&.meal_plans&.none? %>
  <p>Here be meal plans empty state</p>
  <p>Here be recipes</p>
  <div class="CardList">
    <% current_user.recipes.limit(3).map do |recipe| %>
      <div class="CardList__item">
        <%= render 'recipe', recipe: recipe %>
      </div>
    <% end %>
  </div>
<% end %>
