<h1>Impressum</h1>

<h2>Angaben gemßäß 5 TMG</h2>
<p>Christian Poplawski<br />
Fellmühlenweg 1A<br />
51069 Köln</p>

<h2>Kontakt</h2>
<p>E-Mail: legal@snacken.club</p>

<p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>