.Button {
  @apply inline-block font-semibold text-gray-100 text-sm p-2 rounded;
  background-color: $main-color;
  cursor: pointer;

  &:hover {
    background-color: darken($main-color, 10%);
  }
}

.SecondaryButton {
  @apply inline-block font-bold bg-blue-500 text-gray-200 text-sm p-2 rounded;

  &.asDisabled {
    @apply bg-gray-400 text-gray-600 cursor-not-allowed;
  }
}

