.header {
  padding: 20px; 

  &__logo-link {
    text-decoration: none;
    transition: 0.5s;
    display: inline-block;

    &:hover {
      transition: 0.5s;
      transform: translateY(2px);
    }
  }

  &__logo-image {
    max-height: 20px;
    width: auto;
  }
}
