.rounded-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
  background-image: url("../../assets/images/cooking-board.jpeg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  @apply shadow-lg;
}
