<footer class="bg-gray-800 py-8 mt-16 text-gray-100">
  <div class="container mx-auto flex justify-between">
    <div>
      <span>© <%= DateTime.now.strftime("%Y") %> snacken.club</span>
    </div>
    <div>
      <%= link_to "Privacy Policy", "#", class: "font-medium mr-6" %>
      <%= link_to "Imprint", "#", class: "font-medium" %>
    </div>
  </div>
</footer>
