<div data-controller="mobile-menu" class="header">
  <div class="flex justify-between">
    <div class="">
      <%= link_to root_path, class: 'font-extrabold', class: 'header__logo-link'  do %>
        <%= image_tag 'logo.svg', class: 'header__logo-image'%>
      <% end %>
    </div>
    <nav class="hidden md:block">
      <%= render 'layouts/navigation' %>
    </nav>
    <div data-action="click->mobile-menu#toggleMenu" data-target="mobile-menu.menuButton" class="md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
      </svg>
    </div>
  </div>
  <nav data-target="mobile-menu.menu" class="hidden md:hidden bg-white mt-4">
    <%= render 'layouts/navigation' %>
  </nav>
</div>
